/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
/******************************************
/* LAYOUT
/*******************************************/

.questions{
  border: 2rem solid black;
  font-size: 2rem;
  height: 20rem;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
