*{
  box-sizing: border-box;
}
body{
  text-align: center;
  padding: 3%;
  background-color: #6bbaff;
  color: #f7f5f1;
  font-size: 1.2rem;
}
ul{
  text-decoration: none;
}
input{
  margin: 1%;
}
h3{
  color: #fbfbfa;
}
