body{
  background-color: black;
}

.logo{
  background-image: url("https://sfwallpaper.com/images/wu-tang-clan-wallpapers-7.jpg");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 50vh;
  background-size: contain;
  background-position: center;
}
#display{
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  font-size: 3rem;
  color: rgb(238,174,9)
}
.wrapper{
  text-align: left;
  margin-top: 120px;
  color: white;
  text-align: center;
}
