<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Blank Template</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/module.css">
	</head>
	<body>
		<h1>WUTANG name generator</h1>
		<section class="headerS">
			<input type="text" name="" value="" placeholder="Whats your name">
			<button type="button" name="button"></button>
		</section>
		<div class="">


		<section>
			<label for="game">Boneless or BoneIn Chicken wings?</label>
			<select class="game" id="game-option">
				<option value="0">Boneless</option>
				<option value="1">BoneIn</option>
			</select>
		</section>
		<section>
			<label for="pet">PC or console gaming????</label>
			<select class="animals" id="animal-option">
				<option value="2">PC Master race</option>
				<option value="3">Console</option>
			</select>
		</section>
		<section>
			<label for="artist">Would you rather spend the rest of your life with a sailboat as your home or an RV as your home?</label>
			<select class="artist" id="artist-select">
				<option value="4">Boat</option>
				<option value="5">RV</option>
			</select>
		</section>
		<section>
			<label for="food">Mountain Dew or Sprit? </label>
			<select class="food" id="food-select">
				<option value="0">Mtn Dew</option>
				<option value="1">Sprite</option>
			</select>
		</section>
		<section>
			<label for="place">Imported car or American?</label>
			<select class="place" id="palce-select">
				<option value="2">Imports</option>
				<option value="3">American</option>

			</select>
		</section>
			</div>
		<h2></h2>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
